QFrame#centralWidget{
    /*border-radius: 10px;*/
    background-color: lightblue;
}


#minimiseButton, #closeButton {
    font-size: 20px;
    border: none;
    text-align:center;
    padding: 5 10px;
    margin: 0px;

    background-color: transparent;
}

#newTabButton{
    font-size: 15px;
    border: none;
    text-align:center;
    padding: 6 6px;
    margin: 2px;

    background-color: transparent;
    border-radius: 7px;
}


#backButton, #forwardButton, #reloadButton{
    font-size: 20px;
    border: none;
    text-align:center;
    padding: 1px 8px 4px 8px;
    margin: 2px 0px 2px 10px;

    background-color: rgb(166, 211, 226);
    border-radius: 7px;
}

/* #controlPanel{
    background-color: chartreuse;
} */


#tabBar
{
    background-color: rgb(131, 167, 179);
}

QListView
{
    background-color: transparent;
    margin: 6px 5px 3px 5px;
    border: none;
}

QListView::item
{
    background-color: aquamarine;
    border-radius: 8px;
/*    margin: 2px 4px 0px 2px;*/
    margin: 0 1px 0 0;
    text-align: center;

}

#minimiseButton:hover, #newTabButton:hover, #backButton:hover, #forwardButoon:hover, #reloadButton:hover {
    background-color: rgb(95, 121, 129);
}

#closeButton:hover {
    background-color: #b32323;
    /*border-top-right-radius: 10px;*/
}



#searchBar {
    font-size: 18px;
    margin: 5px 10px;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 8px;

}


QProgressBar {
    font-size: 1px;
    text-align: top;
    margin: 0;
    padding: 0;
    height: 4px;
    border: 0px solid red;
    background-color: transparent;
}

QProgressBar::chunk
{
    background-color: purple;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


QStackedWidget{
    margin: 0;
    padding: 0;
}
